html, body {
	margin: 0;
	padding: 0;
	font-family: "Radio Canada", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100;

	vertical-align: top;
	font-size: 10pt;
	color: #2a6573;

	background: transparent;
	height: 96px;
	overflow: clip;
}

body {
	padding: 12px 0;
	opacity: 1;
	animation-name: fadein;
	animation-duration: 1s;
}

span.bigicon {
	font-size: 42pt;
	margin-left: 0.3cm;
	margin-right: 0.3cm;
	display: block;
	float: left;
	perspective: 80px;
}

span.bigicon img {
	width: 78px;
	animation-name: swoosh;
	animation-duration: 1s;
		transform:  translate3d(0,-5px,-20px) rotate3d(0,1,0,15deg);
}

@keyframes swoosh {
	0% {
		transform:  translate3d(0,0,50px) rotate3d(0,1,0,45deg);		
	}
	100% {
		transform:  translate3d(0,-5px,-20px) rotate3d(0,1,0,15deg);
	}
}

dl {
	margin-top: 0;
	column-count: 2;
}

dd {
	break-before: avoid;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  60% {
	opacity: 0;
  }
  100% {
    opacity: 1;
  }
}