<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Playback Controls</title>
	<meta http-equiv="refresh" content="2">
	<link rel="stylesheet" type="text/css" href="/static/tswag.css">
</head>
<body id="controls">
	<span class="title">{% &mediatitle %}</span>
	{% >position %}
	<form method="get" action="/prev" class="prev">
		<button>⏮</button>
	</form>
	{% >playpause %}
	<form method="get" action="/next" class="next">
		<button>⏭</button>
	</form>
	{% >volume %}
</body>
</html>