<div class="volume">
	<div class="levelview">
		<div class="levelbar" style="width: {% =<volumelevel:000 %}%;">
		</div>
	</div>
	<div class="segments">
		<form method="get" action="/vol/0"><button>0</button></form>
		<form method="get" action="/vol/4"><button>4</button></form>
		<form method="get" action="/vol/8"><button>8</button></form>
		<form method="get" action="/vol/12"><button>12</button></form>
		<form method="get" action="/vol/16"><button>16</button></form>
		<form method="get" action="/vol/20"><button>20</button></form>
		<form method="get" action="/vol/24"><button>24</button></form>
		<form method="get" action="/vol/28"><button>28</button></form>
		<form method="get" action="/vol/32"><button>32</button></form>
		<form method="get" action="/vol/36"><button>36</button></form>
		<form method="get" action="/vol/40"><button>40</button></form>
		<form method="get" action="/vol/44"><button>44</button></form>
		<form method="get" action="/vol/48"><button>48</button></form>
		<form method="get" action="/vol/52"><button>52</button></form>
		<form method="get" action="/vol/56"><button>56</button></form>
		<form method="get" action="/vol/60"><button>60</button></form>
		<form method="get" action="/vol/64"><button>64</button></form>
		<form method="get" action="/vol/68"><button>68</button></form>
		<form method="get" action="/vol/72"><button>72</button></form>
		<form method="get" action="/vol/76"><button>76</button></form>
		<form method="get" action="/vol/80"><button>80</button></form>
		<form method="get" action="/vol/84"><button>84</button></form>
		<form method="get" action="/vol/88"><button>88</button></form>
		<form method="get" action="/vol/92"><button>92</button></form>
		<form method="get" action="/vol/96"><button>96</button></form>
		<form method="get" action="/vol/100"><button>100</button></form>
	</div>
</div>