<div class="position">
	<div class="positionview">
		<div class="positionbar" style="width: {% =<position:000 %}%;">
		</div>
	</div>
	<div class="times">
		<form method="get" action="/pos/0"><button>0</button></form>
		<form method="get" action="/pos/4"><button>4</button></form>
		<form method="get" action="/pos/8"><button>8</button></form>
		<form method="get" action="/pos/12"><button>12</button></form>
		<form method="get" action="/pos/16"><button>16</button></form>
		<form method="get" action="/pos/20"><button>20</button></form>
		<form method="get" action="/pos/24"><button>24</button></form>
		<form method="get" action="/pos/28"><button>28</button></form>
		<form method="get" action="/pos/32"><button>32</button></form>
		<form method="get" action="/pos/36"><button>36</button></form>
		<form method="get" action="/pos/40"><button>40</button></form>
		<form method="get" action="/pos/44"><button>44</button></form>
		<form method="get" action="/pos/48"><button>48</button></form>
		<form method="get" action="/pos/52"><button>52</button></form>
		<form method="get" action="/pos/56"><button>56</button></form>
		<form method="get" action="/pos/60"><button>60</button></form>
		<form method="get" action="/pos/64"><button>64</button></form>
		<form method="get" action="/pos/68"><button>68</button></form>
		<form method="get" action="/pos/72"><button>72</button></form>
		<form method="get" action="/pos/76"><button>76</button></form>
		<form method="get" action="/pos/80"><button>80</button></form>
		<form method="get" action="/pos/84"><button>84</button></form>
		<form method="get" action="/pos/88"><button>88</button></form>
		<form method="get" action="/pos/92"><button>92</button></form>
		<form method="get" action="/pos/96"><button>96</button></form>
		<form method="get" action="/pos/100"><button>100</button></form>
	</div>
</div>